<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Standard console appender for checking activity (short on detail) -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Simplified standard logging encoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%contextName] [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
        </encoder>
    </appender>

    <!-- The default logging behaviour for third-party applications (Spring,
        Hibernate etc) -->
    <root level="TRACE">
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="DETAIL_APPENDER"/>
    </root>

    <!-- Selected third-party frameworks can be enabled here for development
        if required -->

    <!-- Define logging for organisation applications only -->
    <logger name="si.mazi.rescu" level="TRACE"/>
    <logger name="org.knowm.xchange" level="INFO"/>

</configuration>
